/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css?family=Quantico');

* {
  box-sizing: border-box;
/*   border: 1px solid red !important;
*/}

html {
  width: 100%;
  height: 100%;
}

body {
  max-width: 100%;
  font-family: sans-serif;
  line-height: normal;
  margin: 0 auto;
}

embed {
  max-width: 100%;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

/*.sticky {
  position: fixed;
  top: 0;
  width: 100;
}*/

.row {
  width: 100%;
  display: flex;
  -webkit-flex: wrap;
  -moz-flex: wrap;
  -ms-flex: wrap;
  -o-flex: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.pg-title {
  font-size: 2em;
}

.series-head {
  text-align: center;
}

.hoverbox {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

hr {
  display: block;
  width: 100%;
  border: 2px solid;
  color: #e3ce00;
}

nav {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

a:hover {
  border-color: black gold red gold;
}

a:link, a:visited {
  margin: 0px 2px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
}

p {
  color: red;
  padding: 20px;
}

input[type=search]:focus {
    width: 25%;
}

footer {
  font-size: 12px;
}

.fa-bars {
  text-indent: -9999px;
}

.btn-default {
  padding: 10px 20px;
  border: 2px solid black;
  color: black;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

#search-query {
  padding: 0;
}

.main-second {
  margin-top: 20px;
  align-items: space-around;
}

.mouseover {
  width: 100%;
  position: absolute;
}

.mouseover p {
  display: none;
  background-color: rgba(17, 17, 17, 0.7);
  color: #FFF;
  width: 15%;
  border-radius: 6px;
  margin-top: 0;
  position: relative;
}

table {
  border-collapse: collapse;
  font: sans-serif;
  border-bottom: 2px solid #e3ce00;
  table-layout: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

thead {
  background-color: red;
  color: #e3ce00;
  border: 2px solid black;
  /* sticky only supported in safari currently. go figure */
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: -1px;
  /* this will fix the header, but not spaced how I want it
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  margin: 0 auto;
  */
}

tbody tr:nth-child(odd) {
  background: #eee;
}

/*tbody tr:hover {
  background: #e3ce00;
}*/

td, th {
  padding: 0.5em;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: red;
}

a:visited {
  color: black;
}

.thead-inverse {
  table-layout: fixed;
  border-collapse: collapse;
}

.shop, .year {
  width: 6%;
}

/* show page styling */
.big-shop {
  text-align: center;
  font-family: 'Quantico', sans-serif;
  background: #E51F2F;
  color: #FFF;
}

.show-img {
  max-width: 600px;
  max-height: 600px;
  margin: 0 auto;
}

.assignments {
  text-align: center;
}

.make-model {
  text-align: center;
  font-size: 20px;
}

.img-wrap p {
  text-align: center;
  font-size: 10px;
}

span {
  color: black;
}

.left-info {
  text-align: center;
}

.right-info {
  text-align: center;
}

.notes {
  text-align: center;
}

.img-links {
  text-align: center;
}

.id {
  width: 6%;
}

.form {
  border-top: 2px solid black;
  border-right: 2px solid #FC0D1C;
  border-bottom: 2px solid #FC0D1C;
  border-left: 2px solid black;
  padding: 12px;
  background-color: #EEE;
}

.form-header {
  text-align: center;
}

@media only screen and (max-width: 749px) {
  nav {
    display: none;
  }
  a:link, a:visited {
    margin: 20px 20px;
  }
  input[type=search]:focus {
    width: 50%;
  }
  .fa-bars {
    text-indent: 0px;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1328px) {
  .btn-default {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 0px) {
  th, td {
    width: 150px;
    overflow: scroll;
  }

  .mouseover {
    display: none;
  }

}