/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
  /* border: 1px solid red !important; */
}

html {
  width: 100%;
  height: 100%;
}

body {
  max-width: 100%;
  font-family: sans-serif;
  line-height: normal;
}

embed {
  max-width: 100%;
}

img {
  display: block;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
  -webkit-flex: wrap;
  -moz-flex: wrap;
  -ms-flex: wrap;
  -o-flex: wrap;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.pg-title {
  font-size: 2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

hr {
  display: block;
  width: 100%;
  border: 2px solid;
  color: #e3ce00;
}

nav {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

a:link, a:visited {
  margin: 0px 2px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
}

a:hover {
  border-color: black gold red gold;
}

p {
  color: red;
  padding: 20px;
}

input[type=search]:focus {
    width: 25%;
}

footer {
  font-size: 12px;
}

.fa-bars {
  text-indent: -9999px;
}

.btn-default {
  padding: 10px 20px;
  border: 2px solid black;
  color: black;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

#search-query {
  padding: 0;
}

.mouseover {
  width: 100%;
  height: 100%;
  position: absolute;
}

.mouseover p {
  display: none;
  background-color: rgba(17, 17, 17, 0.7);
  color: #FFF;
  width: 15%;
  border-radius: 6px;
  margin-top: 0;
  position: relative;
}

@media only screen and (max-width: 450px) {

}

@media only screen and (max-width: 749px) {
  nav {
    display: none;
  }
  a:link, a:visited {
    margin: 20px 20px;
  }
  input[type=search]:focus {
    width: 50%;
  }
  .fa-bars {
    text-indent: 0px;
  }
}

@media only screen and (min-width: 750px) and (max-width: 1328px) {
  .btn-default {
    margin-bottom: 20px;
  }
}
